// Vars
@i: !important;

// Helpers
.background-cover{ -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center; }

.tetris-module{
    input[type="text"]{ width: 100%; }
    .grid-stack{ margin-left: -5px; margin-right: -5px;
        .grid-stack-item{
            .ui-resizable-sw{ left: 5px; }
            .ui-resizable-se{ right: 5px; }
            .grid-stack-item-content{ background-color: lightgray; .background-cover; left: 5px@i; right: 5px@i;
                textarea{ width: 100%; resize: none; height: calc(~"100% - 26px"); display: block; }
            }
        }
    }
}
